---
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from "@/i18n/utils";
import { truncateText } from "@/utils/text";

const { post } = Astro.props;
const { imageSrc, imageAlt, date, tags, title, excerpt } = post.data;

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
const t = useTranslations(lang);
const charactersLimit = 250;

const day = date.getDate();
const year = date.getFullYear();
const month = date.toLocaleString("default", { month: "short" });
---

<article class="blog-post-preview">
  <a
    class="blog-post-preview__link"
    href={translatePath(`/news/${post.data.post_id}`, lang)}
  >
    <div class="blog-post-preview__image-wrapper">
      <img class="blog-post-preview__image" src={imageSrc} alt={imageAlt} />
    </div>
    <main class="blog-post-preview__main">
      <h3 class="blog-post-preview__title">
        {title}
      </h3>
      <p class="blog-post-preview__tag">
        {`${day} ${month}, ${year} - ${tags[0]}`}
      </p>
      <p class="blog-post-preview__summary">
        {truncateText(excerpt, charactersLimit)}
      </p>
      <button class="blog-post-preview__button">
        {t("blog.readMore")}
        <span>-></span>
      </button>
    </main>
  </a>
</article>

<style>
  .blog-post-preview {
    position: relative;
    max-width: 17.1875rem;
    max-height: 12.5rem;
  }

  .blog-post-preview__link {
    color: var(--secondary-color);
    text-decoration: none;
  }

  .blog-post-preview__image-wrapper {
    position: relative;
    z-index: 1;
    max-width: 17.1875rem;
    max-height: 12.5rem;
    overflow: hidden;
  }
  .blog-post-preview__image-wrapper img {
    object-fit: cover;
    object-position: center center;
    height: 100%;
    width: 100%;
  }

  .blog-post-preview__main {
    background-color: var(--bg-color);
    position: relative;
    z-index: 2;
    max-width: 80%;
    transform: translate3d(0, -35%, 0);
    padding: 0.5rem;
  }

  .blog-post-preview__tag {
    position: relative;
    text-transform: uppercase;
    font-size: 0.7rem;
    margin-block: 0.5rem 1rem;
    font-weight: 700;

    &::before {
      content: "";
      position: absolute;
      width: 40%;
      bottom: -0.5rem;
      height: 1px;
      background-color: var(--color-yellow-700);
    }
  }

  .blog-post-preview__summary {
    font-size: 0.8rem;
    font-style: italic;
    line-height: 1.6;
    max-width: 25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (min-width: 1000px) {
      white-space: initial;
      overflow: initial;
      text-overflow: initial;
    }
  }

  .blog-post-preview__button {
    color: var(--color-yellow-700);
    text-decoration: underline;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 0.8rem;
    display: inline-block;
    border: 0;
    background-color: transparent;
  }

  @media (min-width: 1000px) {
    .blog-post-preview {
      width: 80%;
      max-width: none;
      position: relative;
      max-height: none;
      padding: 2.5rem 2.5rem;
      height: 31.25rem;
      cursor: pointer;
      margin-bottom: -5rem;
    }

    .blog-post-preview__image-wrapper {
      max-width: 100%;
      position: absolute;
      inset: 0;
      max-height: none;
      height: 100%;
    }

    .blog-post-preview__main {
      max-width: 20rem;
      height: 100%;
      transform: translate3d(0, 0, 0);
      padding: 1.25rem;
    }

    .blog-post-preview__title {
      font-size: 1.5rem;
    }

    .blog-post-preview__button {
      display: none;
    }
  }
</style>
