---
import SocialNetwork from "./SocialNetwork.astro";

import instagramIcon from "@/svgs/socials/instagram-icon.svg";
import spotifyIcon from "@/svgs/socials/spotify-icon.svg";
import tiktokIcon from "@/svgs/socials/tiktok-icon.svg";

import { sponsors } from "@/configs/sponsors";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
const mainSponsors = sponsors.filter((sponsor) => sponsor.isMainSponsor);

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<header class="main-sponsors">
  <h5 class="main-sponsors__heading">{t("sponsors.home.main")}</h5>
  <div class="main-sponsors__icons">
    {
      mainSponsors.map((sponsor) => (
        <div class="sponsor-logo">
          <img src={sponsor.logo} alt={sponsor.name} />
        </div>
      ))
    }
  </div>
</header>
<p class="social-media-message">
  {t("sponsors.home.socials")}
</p>
<section class="social-icons">
  <SocialNetwork variant="spotify" icon={spotifyIcon.src} />
  <SocialNetwork
    variant="instagram"
    icon={instagramIcon.src}
    link="https://www.instagram.com/cfsaltafulla/"
  />
  <SocialNetwork
    variant="tiktok"
    icon={tiktokIcon.src}
    link="https://www.tiktok.com/@cfsaltafulla"
  />
</section>

<style>
  .main-sponsors {
    margin: 4rem 6rem;
  }

  .main-sponsors__icons {
    margin: 2rem auto;
    width: max-content;
  }

  .main-sponsors__icons img {
    -webkit-user-drag: none;
  }

  .main-sponsors__heading {
    color: var(--primary-color);
    text-transform: uppercase;
    margin: 0 auto;
    width: max-content;
  }

  .sponsor-logo {
    width: 15rem;
  }

  .social-media-message {
    color: var(--bg-color);
    margin-inline: auto;
    margin-bottom: 2rem;
    width: max-content;
  }

  .sponsor-logo img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  .social-icons {
    display: flex;
    width: max-content;
    margin: 0 auto;
    flex-direction: column;
    gap: 1rem;
  }

  @media (min-width: 768px) {
    .social-icons {
      flex-direction: row;
    }
  }

  @media (min-width: 1200px) {
    .main-sponsors__icons {
      border-left: 1px solid var(--primary-color);
      padding-left: 2rem;
      display: flex;
      justify-content: center;
      gap: 5rem;
    }
  }
</style>
