---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import PlayerBirthInfo from "./PlayerBirthInfo.astro";
import SideDialog from "./SideDialog.astro";
import { getHandshakeImage } from "@/utils/players";

const { player, playerContent } = Astro.props;
const { Content } = await playerContent.render();

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const separatedPlayerContent = playerContent.body.split("\n");

const bioFirstParagraph = separatedPlayerContent[3];
const bioSecondParagraph = separatedPlayerContent[5];

const imagePath = getHandshakeImage(player);
---

<section class="player-biography">
  <div class="player-img-wrapper">
    <img src={imagePath} alt="" />
  </div>
  <section class="player-short-bio">
    <p class="header">
      {bioFirstParagraph}
    </p>
    <p class="description">
      {bioSecondParagraph}
    </p>
    <button id="biography-opener">{t("player.info.bio")}</button>
  </section>

  <SideDialog isOpen={false} player={player}>
    <Content />
  </SideDialog>
</section>

<section>
  <PlayerBirthInfo player={player} />
</section>

<style>
  .player-biography {
    padding-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .player-img-wrapper {
    position: relative;
    width: 17.375rem;
    height: 23.4375rem;
  }

  img {
    height: 100%;
    border-radius: 1rem;
    width: 100%;
    z-index: 2;
    position: relative;
    object-fit: cover;
  }

  .player-img-wrapper::before,
  .player-img-wrapper::after {
    content: "";
    position: absolute;
    border-radius: 0.375rem;
    height: 4.375rem;
    width: 2rem;
    z-index: -1;
    transition:
      top 0.3s,
      bottom 0.3s,
      width 0.4s;
  }

  .player-img-wrapper::before {
    background: var(--secondary-color);
    top: -0.75rem;
    left: -0.5rem;
  }

  .player-img-wrapper::after {
    background: var(--primary-color);
    bottom: -0.75rem;
    right: -0.5rem;
  }

  .player-short-bio {
    font-size: 0.75rem;
    margin-top: 1rem;
    max-width: 30rem;
    margin-inline: auto;
    padding: 0 1em;
  }

  .player-short-bio .header {
    font-weight: 600;
    margin-bottom: 1rem;
    font-size: 0.75rem;
    text-transform: uppercase;
  }

  .player-short-bio .description {
    line-height: 1rem;
  }

  #biography-opener {
    text-transform: uppercase;
    cursor: pointer;
    background: transparent;
    border: none;
    margin-top: 1rem;
    font-weight: 600;
    color: var(--secondary-color);
  }

  #biography-opener:hover {
    text-decoration: underline;
  }

  @media (min-width: 768px) {
    .player-img-wrapper {
      width: 20rem;
      height: 27rem;
    }

    .player-short-bio {
      margin-left: 2rem;
      max-width: 90rem;
    }

    .player-short-bio .header {
      font-size: 1rem;
    }

    .player-short-bio .description {
      font-size: 0.875rem;
    }
  }

  @media (min-width: 1200px) {
    .player-biography {
      flex-direction: row;
      justify-content: center;
      padding-top: 4rem;
      padding-inline: 4rem;
      max-width: 90rem;
      margin: 0 auto;
      gap: 2rem;
    }

    .player-img-wrapper {
      width: 50%;
      aspect-ratio: 2 / 1;
    }

    .player-short-bio {
      max-width: none;
      width: 50%;
    }

    .player-short-bio .header {
      font-size: 2rem;
      font-weight: 800;
      text-transform: none;
    }

    .player-short-bio .description {
      font-size: 1.15rem;
      line-height: 1.25rem;
    }
  }
</style>
