---
const { blogPost } = Astro.props;

const { Content } = await blogPost.render();
---

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{blogPost.title}</title>
  </head>
  <body>
    <article class="blog-post">
      <img class="blog-post__img" src={blogPost.data.cover.src} />
      <div class="blog-post__container">
        <h3 class="blog-post__heading">{blogPost.data.title}</h3>
        <div class="blog-post__body">
          <Content />
          <hr />
          <footer class="author-info">
            <img class="author-img" src={blogPost.data.authorImg.src} />
            <div class="post-info">
              <p class="author-name">{blogPost.data.author}</p>
              <p class="post-date">{blogPost.data.date}</p>
            </div>
          </footer>
        </div>
      </div>
    </article>
  </body>
</html>

<style>
  .blog-post__container {
    padding-inline: 2rem;
    padding-top: 1rem;
  }

  .blog-post__img {
    width: 100%;
    height: auto;
    position: absolute;
  }

  .blog-post__heading {
    font-size: 4rem;
    color: var(--bg-color);
    position: relative;
    z-index: 2;
    text-align: center;
    margin-block: 20rem;
  }

  .blog-post__heading::before {
    content: "";
    position: absolute;
    background: var(--bg-color);
    height: 0.6rem;
    width: 4rem;
    border-radius: 100vw;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
  }

  .blog-post__body {
    font-size: 1.25rem;
    position: relative;
    z-index: 2;
    margin: 24rem auto;
    max-width: 60ch;
    padding-top: 1rem;
    text-align: justify;
  }

  .author-name {
    font-weight: bold;
  }

  .author-img {
    height: 4rem;
  }

  .author-info {
    display: flex;
    margin-top: 2rem;
  }

  .author-name {
    margin-top: 0 !important;
    margin-bottom: 0.8rem !important;
    margin-left: 1rem;
    font-size: 1.5rem;
  }

  .post-date {
    color: var(--color-grey-600);
    margin-block: 0 !important;
    margin-left: 1rem;
    font-size: 1.25rem;
  }
</style>

<script>
  const paragraphs = document.querySelectorAll("p");

  paragraphs.forEach((p) => {
    p.style.marginBlock = "2rem";
  });
</script>
