---
import PrimaryNav from "@/components/PrimaryNav.astro";
import "@/styles/global.css";
import postTestImg from "@/images/post-test-img.png";

const { blogPost } = Astro.props;

const { Content } = await blogPost.render();

const images = await Astro.glob("/src/assets/images/post-covers/*").then(
  (files) => {
    return files.map((file) => file.default);
  },
);

console.log(images[0]);
---

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{blogPost.title}</title>
  </head>
  <body>
    <PrimaryNav />
    <article class="blog-post">
      <header class="blog-post__header">
        <img class="blog-post__img" src={images[blogPost.data.id].src} />
        <h3 class="blog-post__heading">{blogPost.data.title}</h3>
      </header>
      <div class="blog-post__container">
        <div class="blog-post__body">
          <Content />
          <hr />
          <footer class="author-info">
            <img class="author-img" src={blogPost.data.authorImg.src} />
            <div class="post-info">
              <p class="author-name">{blogPost.data.author}</p>
              <p class="post-date">{blogPost.data.date}</p>
            </div>
          </footer>
        </div>
      </div>
    </article>
  </body>
</html>

<style>
  .blog-post__container {
    padding-inline: 2rem;
    padding-bottom: 2rem;
  }

  .blog-post__header {
    position: relative;
    z-index: 1;
    max-height: 30rem;
    overflow: hidden;
  }

  .blog-post__img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }

  .blog-post__heading {
    font-size: 1.5rem;
    color: var(--bg-color);
    z-index: 2;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @media (min-width: 450px) {
      font-size: 2rem;
    }
  }

  .blog-post__heading::before {
    content: "";
    position: absolute;
    background: var(--bg-color);
    height: 0.6rem;
    width: 4rem;
    border-radius: 100vw;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
  }

  .blog-post__body {
    font-size: 1rem;
    position: relative;
    z-index: 2;
    margin: 0 auto;
    max-width: 60ch;
    padding-top: 1rem;
    text-align: justify;
  }

  .author-name {
    font-weight: bold;
  }

  .author-img {
    height: 4rem;
  }

  .author-info {
    display: flex;
    margin-top: 2rem;
  }

  .author-name {
    margin-top: 0 !important;
    margin-bottom: 0.8rem !important;
    margin-left: 1rem;
    font-size: 1.5rem;
  }

  .post-date {
    color: var(--color-grey-600);
    margin-block: 0 !important;
    margin-left: 1rem;
    font-size: 1.25rem;
  }
</style>

<script>
  const paragraphs = document.querySelectorAll("p");

  paragraphs.forEach((p) => {
    p.style.marginBlock = "2rem";
  });
</script>
