---
import PrimaryNav from "@/components/PrimaryNav.astro";
import "@/styles/global.css";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import PlayerBiography from "@/components/PlayerBiography.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { player, playerContent } = Astro.props;
---

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{`${player.name} ${player.first_surname}`}</title>
  </head>
  <body>
    <PrimaryNav />
    <main class="main">
      <header>
        <div class="header-container flex">
          <p class="nickname">{player.nickname || player.name}</p>
          <div class="image-container">
            <img src={player.img} alt="" />
          </div>
          <div class="player-info-container">
            <p class="player-role">{t(`roles.${player.role}`)}</p>
            <div class="flex">
              <p class="player-number">{player.number}</p>
              <p class="player-name">
                {player.name}
                <span class="player-surname"> {player.first_surname}</span>
              </p>
            </div>
            <div class="player-stats">
              <div class="matches stat-container">
                <p class="stat-header">{t("stats.matches")}</p>
                <p class="stat">{player.total_stats.matches}</p>
                <p class="actual-season-header">Temporada actual</p>
                <p class="stat actual-season">{player.season_stats.matches}</p>
              </div>
              <div class="goals stat-container">
                <p class="stat-header">{t("stats.goals")}</p>
                <p class="stat">{player.total_stats.goals}</p>
                <p class="actual-season-header">Temporada actual</p>
                <p class="stat actual-season">{player.season_stats.goals}</p>
              </div>
              <div class="assists stat-container">
                <p class="stat-header">{t("stats.assists")}</p>
                <p class="stat">{player.total_stats.assists}</p>
                <p class="actual-season-header">Temporada actual</p>
                <p class="stat actual-season">{player.season_stats.assists}</p>
              </div>
            </div>
          </div>
        </div>
      </header>
      <PlayerBiography player={player} playerContent={playerContent} />
    </main>
  </body>
</html>

<script>
  const dialog = document.querySelector("dialog") as HTMLDialogElement;
  const biographyOpener = document.querySelector(
    "#biography-opener",
  ) as HTMLButtonElement;

  biographyOpener.onclick = () => {
    dialog.show();
  };
</script>

<style>
  .flex {
    display: flex;
  }

  .header-container {
    flex-direction: column;
    padding-top: 2rem;
    background: var(--bg-color);
    color: var(--bg-color);
    position: relative;
  }

  .nickname {
    font-size: 7rem;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 900;
    background-image: linear-gradient(
      180deg,
      var(--bg-color),
      hsla(0, 0%, 100%, 0.1)
    );
    background-clip: text;
    color: transparent;
  }

  .image-container {
    width: 100%;
    padding-top: 5rem;
    position: relative;
    background-image: linear-gradient(
      to right,
      hsla(0, 0%, 0%, 1),
      hsla(0, 0%, 0%, 0.6)
    );
    display: flex;
    justify-content: center;
  }

  .image-container img {
    margin: 0 auto;
    position: relative;
    z-index: 10;
    max-width: 20rem;
    object-fit: cover;
  }

  .player-info-container {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem;
  }

  .player-role {
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .player-number,
  .player-role {
    opacity: 0.8;
  }

  .player-number,
  .player-name {
    font-size: 1.25rem;
    font-weight: 400;
  }

  .player-name {
    margin-left: 0.5rem;
  }

  .player-surname {
    font-weight: 600;
  }

  .player-stats {
    display: flex;
    gap: 2rem;
  }

  .player-stats .stat {
    color: var(--primary-color);
  }

  .stat-container {
    text-align: center;
  }

  .stat-header {
    text-transform: uppercase;
    font-size: 0.5rem;
    margin-block: 0.5rem;
  }

  .stat {
    font-size: 1.25rem;
  }

  .actual-season-header {
    font-size: 0.6rem;
    opacity: 0.8;
    margin-block: 0.5rem;
  }

  .stat.actual-season {
    font-size: 1rem;
  }

  @media (min-width: 1200px) {
    header {
      background-image: linear-gradient(
        to right,
        hsla(0, 0%, 0%, 1),
        hsla(0, 0%, 0%, 0.6)
      );
      width: 100vw;
    }
    .header-container {
      flex-direction: row-reverse;
      padding-top: 0;
      background: transparent;
      max-width: 100rem;
      margin: 0 auto;
    }

    .image-container {
      margin-left: auto;
      background-image: none;
    }

    .image-container img {
      margin: 0 0 0 auto;
    }

    .nickname {
      font-size: 20rem;
      opacity: 0.6;
      width: 100vw;
    }

    .player-info-container {
      background-color: transparent;
      position: absolute;
      left: 0;
      top: 30%;
      flex-direction: column-reverse;
    }

    .player-stats {
      background-image: linear-gradient(
        to bottom right,
        hsla(0, 0%, 0%, 0.6),
        hsla(0, 0%, 0%, 0)
      );
      padding: 1rem 2rem;
      opacity: 1;
      z-index: 100;
      transform: translateY(-10%);
      margin-bottom: -1.5rem;
    }

    .stat-header {
      font-size: 1rem;
    }

    .stat {
      font-size: 5rem;
    }

    .actual-season-header {
      font-size: 1rem;
    }

    .stat.actual-season {
      font-size: 1.5rem;
    }

    .player-role {
      opacity: 0.8;
      font-size: 1.25rem;
    }

    .player-number,
    .player-role {
      opacity: 0.8;
    }

    .player-number,
    .player-name {
      font-size: 1.5rem;
      font-weight: 400;
      transform: translateY(200%);
    }
  }
</style>

<script>
  const biographyOpener = document.getElementById(
    "biography-opener",
  ) as HTMLButtonElement;
  const biography = document.querySelector(".biography") as HTMLElement;
  const biographyContent = document.querySelector(
    ".biography .content",
  ) as HTMLElement;
</script>
